.searchpeople {
  border-bottom: 1px solid
    color-mix(in srgb, var(--theme-color) 25%, var(--opposite-theme-mode));
  animation: slide-down 0.5s ease forwards;
  z-index: -1;
}

@keyframes slide-down {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.searchpeople .searchfield {
  border-radius: 15px;
  border: 0px;
  background-color: color-mix(
    in srgb,
    var(--theme-color) 25%,
    var(--theme-mode)
  );
  color: var(--text-color);
  box-shadow: inset 0px 0px 2px 0px var(--blackshadow);
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  margin: 5px;
  padding: 5px 10px;
  font-size: 1.05rem;
  box-sizing: border-box;
}

.searchpeople .searchfield:focus {
  outline: 0px;
}

.searchpeople .searchandreqitems {
  margin: 5px;
}

.searchpeople .searchandreqitems .searchandreqitem {
  display: grid;
  grid-template-columns: 6fr 20fr 3fr;
  align-items: center;
  padding: 5%;
  gap: 5px;
}

.searchpeople .searchandreqitems .searchandreqitem .seachitemtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.searchpeople .searchandreqitems .searchandreqitem .personfillicon {
  font-size: 1.4rem;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchpeople .searchandreqitems .searchandreqitem .personaddicon {
  font-size: 1.4rem;
  cursor: pointer;
}

.searchpeople .searchandreqitems .searchandreqitem.reqitem {
  grid-template-columns: 7fr 20fr;
}

.searchpeople .reqitem .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.searchpeople .reqitem .acceptandreject {
  display: flex;
  justify-content: space-between;
}

.searchpeople .reqitem .acceptandreject .btn {
  border-radius: 5px;
  width: 45%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 0px black;
  border: 0px;
  color: var(--text-color);
  font-weight: bold;
  padding: 3px;
}

.searchpeople .reqitem .acceptandreject .btn-accept {
  background-color: color-mix(in srgb, var(--theme-mode) 30%, lime);
}

.searchpeople .reqitem .acceptandreject .btn-reject {
  background-color: color-mix(in srgb, var(--theme-mode) 10%, red);
}
