.sidebarlist {
  background-color: var(--third);
  overflow-y: scroll;
  animation: fadein 0.4s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.sidebarlist::-webkit-scrollbar {
  width: 0px;
}
.sidebarlist .nochats {
  border-top: 1px solid var(--fourth);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  padding: 20px;
  opacity: 0.5;
  line-height: 2rem;
}

.sidebarlist .nochats .nochatsicon {
  font-size: 4rem;
}

.sidebarlist .chats {
  font-size: 1.5rem;
  display: flex;
  padding: 15px 10px;
}

.sidebarlist .chats .chatstext {
  margin-right: auto;
}

.sidebarlist .chats:nth-child(3) {
  color: yellow;
  border: 2px solid red;
}

.sidebarlist .chats .groupaddicon {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.sidebarlist .chats .groupaddicon .pluscirclefill {
  background-color: black;
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  bottom: 4px;
  right: -4px;
}

.sidebarlist .chats .addperson {
  position: relative;
}

.sidebarlist .chats .addperson .reddot {
  display: inline-block;
  width: 10px;
  background-color: red;
  position: absolute;
  right: -1px;
  top: -1px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidebarlist .chats .addpersonicon {
  font-size: 1.6rem;
  cursor: pointer;
}

.sidebarlist .listItem {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--fourth);
  cursor: pointer;
}

.sidebarlist .listItem .profileimgbox {
  position: relative;
}

.sidebarlist .listItem .profileimgbox .dot {
  position: absolute;
  top: 2px;
  right: 0px;
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidebarlist .listItem .profileimgbox .dot.online {
  background-color: rgb(0, 255, 0);
}

.sidebarlist .listItem .profileimgbox .dot.offline {
  background-color: red;
}

.sidebarlist .listItem .listItemtext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebarlist .listItem .personfillicon {
  font-size: 2rem;
  color: black;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.sidebarlist .listItem.openeditem {
  background-color: var(--fourth);
}
