.chatwindow .chatcontainer .receivedchat {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: end;
  flex-direction: column;
  max-width: 70%;
  float: left;
  margin: 15px;
  border-radius: 15px;
  border-end-start-radius: 0px;
  transition: all;
  position: relative;
  overflow: hidden;
}

.chatwindow .chatcontainer .receivedchat:has(.image) {
  padding: 7px;
}

.chatwindow .chatcontainer .receivedchat.first {
  border-bottom-left-radius: 0px;
}

.chatwindow .chatcontainer .receivedchat.between {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.chatwindow .chatcontainer .receivedchat.last {
  border-top-left-radius: 0px;
}

.chatwindow .chatcontainer .receivedchat .text-chat {
  display: flex;
  flex-wrap: wrap;
}

.chatwindow .chatcontainer .receivedchat .text-chat .timecheck {
  margin-left: auto;
  padding-left: 5px;
}
.chatwindow
  .chatcontainer
  .receivedchat
  .text-chat
  .timecheck
  .retranslate-icon {
  cursor: pointer;
}

.chatwindow .chatcontainer .receivedchat .primary {
  background-color: var(--background10);
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.chatwindow .chatcontainer .receivedchat .secondary {
  background-color: var(--background20);
  height: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
