.callwindow {
  position: fixed;
  top: 45px;
  width: 100vw;
  width: 100dvw;
  height: calc(100vh - 45px);
  height: calc(100dvh - 45px);
  background-color: var(--fifth);
}

.callwindow .videocall {
  display: grid;
  grid-template-rows: auto 70px;
  width: 100%;
  height: 100%;
  position: relative;
}

.callwindow .videocall .loadingvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.callwindow .videocall .loadingvideo img {
  border-radius: 50%;
  width: 30%;
  aspect-ratio: 1/1;
  margin: 20px;
}

.callwindow .videocall .myvideo {
  width: 30vw;
  width: 30dvw;
  height: 30vh;
  height: 30dvh;
  position: absolute;
  bottom: 55px;
  right: 10px;
  border-radius: 23px;
}

.callwindow .videocall .controls {
  font-size: 1.9rem;
  background-color: var(--fourth);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.callwindow .videocall .controls .endcall,
.callwindow .videocall .controls .pickcall {
  border-radius: 50%;
  padding: 14px;
}

.callwindow .videocall .controls .endcall {
  transform: rotate(135deg);
  background-color: red;
}
.callwindow .videocall .controls .pickcall {
  transform: rotate(0deg);
  background-color: green;
  animation: ringing 1s ease-in-out infinite;
}

@keyframes ringing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
