/* html[data-theme="dark"]{
  --em-rgb-background:
} */
:root {
  --em-rgb-background: #fff !important;
}

#shadow-root {
  border: 10px solid red;
}

.chatwindow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px calc(100vh - 45px - 110px) 50px;
  grid-template-rows: 60px calc(100dvh - 45px - 110px) 50px;
  transition: all;
  animation: fade 0.3s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.chatwindow .profilebar {
  display: grid;
  grid-template-columns: 25px 50px auto 100px;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--background10);
  overflow: hidden;
}

.chatwindow .profilebar .arrowlefticon {
  font-size: 32px;
  margin-top: 6px;
}

.chatwindow .profilebar .outerimg {
  height: 55.5px;
  aspect-ratio: 1/1;
  margin-left: 5px;
}

.chatwindow .profilebar .chatprofileimg {
  display: block;
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.chatwindow .profilebar .outerimg .personfillicon {
  background-color: var(--theme-mode);
  color: var(--text-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.chatwindow .profilebar .profilebarusername {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.chatwindow .profilebar .callicons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 15px);
  background-color: var(--background15);
  border-radius: 14px;
}

.chatwindow .profilebar .callicons .callicon {
  font-size: 1.3rem;
  padding: 10px;
  cursor: pointer;
}

.chatwindow .messagefield {
  display: flex;
  gap: 10px;
  background-color: var(--background10);
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.4s linear;
}

.chatwindow .messagefield .emojipicker {
  position: absolute;
  top: -27.4rem;
  left: 5px;
  animation: fade 0.5s ease-in forwards;
}

[data-theme="dark"] {
  --em-rgb-background: red !important;
}

:root {
  --rgb-accent: 0, 0, 255;
  --rgb-background: 0, 0, 0;
  --rgb-color: 255, 255, 255;
  --shadow: 5px 5px 15px -8px color-mix(in srgb, var(--theme-color) 25%, var(--theme-mode));

  --mixed-color-accent: color-mix(in srgb, #ff0000 50%, #00ff00 50%);
  --mixed-color-background: color-mix(in srgb, #0000ff 50%, #ffff00 50%);
  --mixed-color-text: color-mix(in srgb, #ff00ff 50%, #00ffff 50%);
}

.chatwindow .messagefield .emojipicker em-emoji-picker {
  --border-radius: 23px;
  --category-icon-size: 1.5rem;
  --color-border-over: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.05);
}

.messagefield .emojipicker button {
  background-color: transparent;
}

.chatwindow .messagefield .fileimage {
  flex: 0 0 1rem;
  transition: all 0.1s linear;
}

.chatwindow .messagefield .fileimage.hide {
  flex: 0 0 0px;
}

.chatwindow .messagefield .input {
  flex: 4;
  display: grid;
  grid-template-columns: 22px auto;
  background-color: color-mix(in srgb, grey 5%, var(--theme-mode));
  border-radius: 23px;
  gap: 5px;
  padding: 5px;
}

.chatwindow .messagefield input,
.chatwindow .messagefield button {
  border-radius: 15px;
  border: 0px;
  display: flex;
  align-items: center;
}

.chatwindow .messagefield input {
  color: var(--text-color);
  background-color: transparent;
}

.chatwindow .messagefield .icon {
  font-size: 1.2rem;
  margin: auto;
  opacity: 0.5;
}

.chatwindow .messagefield button {
  flex: 1;
  background-color: color-mix(
    in srgb,
    var(--theme-color) 75%,
    var(--theme-mode) 10%
  );
  justify-content: center;
  max-width: 100px;
}

.chatwindow .messagefield input:focus {
  outline: 0px;
}

.chatwindow .chatcontainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chatwindow .chatcontainer .nochats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  height: 100%;
  opacity: 0.5;
}

.chatwindow .chatcontainer::-webkit-scrollbar {
  width: 0px;
}

.chatwindow .chatcontainer .chat {
  display: block;
  width: 100%;
}

.chatwindow .chatcontainer .chat .first {
  border-radius: 15px;
  margin-bottom: 2px !important;
}

.chatwindow .chatcontainer .chat .between {
  border-radius: 15px;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.chatwindow .chatcontainer .chat .last {
  border-radius: 15px;
  margin-top: 2px !important;
}

.chatwindow .chatcontainer .chat > * .image {
  border-radius: 8px;
  margin-bottom: 5px;
}

.chatwindow .chat .chattext {
  overflow-wrap: anywhere;
}

.chatwindow .chat .timecheck {
  font-size: 0.6rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: end;
  float: right;
  margin-left: 5px;
}

.check {
  font-size: 0.9rem;
  position: relative;
  top: 4px;
}

.readcheck {
  color: skyblue;
}

.chatwindow .chatcontainer .date {
  border-radius: 23px;
  background-color: color-mix(
    in srgb,
    var(--theme-mode) 5%,
    var(--opposite-theme-mode) 5%
  );
  padding: 3px 15px;
  margin: 20px auto;
  text-align: center;
  display: inline;
}

.fullscreen {
  width: 100vw;
  height: calc(100vh - 45px) !important;
  height: calc(100dvh - 45px) !important ;
  position: fixed;
  top: 45px;
  left: 0px;
  z-index: 2;
}
