.settingsidebar {
  height: calc(100vh - 45px);
  height: calc(100dvh - 45px);
  font-size: 1.1rem;
  padding: 5px;
}

.settingsidebar h2 {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.settingsidebar h2 .arrowlefticon {
  margin-right: 5px;
}

.settingsidebar .listitem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  padding-left: 20px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.settingsidebar .listitem:hover {
  background-color: color-mix(
    in srgb,
    var(--theme-color) 20%,
    var(--theme-mode)
  );
}
