.title {
  position: absolute;
  left: 5px;
  top: 8px;
  color: black;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-black);
  color: white;
  height: 45px;
  position: relative;
  z-index: 5;
}

.icons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
}

.icon {
  margin: 0 7px;
  padding: 0px;
  cursor: pointer;
}

.menu {
  display: none;
  font-size: 30px;
}

.icons .cross {
  font-size: 30px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#list {
  display: inline-flex;
  list-style-type: none;
  height: 30px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

#list li .link {
  color: var(--font-color);
  padding: 30px 15px;
  margin: 5px;
  text-decoration: none;
}

#list li .link.active {
  color: color-mix(in srgb, var(--theme-color) 80%, var(--opposite-theme-mode));
}

@media (max-width: 500px) {
  #list {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 0px;
    animation: scrolllist 0.5s ease 0s 1 alternate;
    z-index: 2;
    backdrop-filter: blur(3px);
  }

  #list li .link {
    display: block;
    text-align: center;
    background-color: color-mix(
      in srgb,
      var(--theme-color) 30%,
      var(--theme-mode)
    );
    padding: 30px 15px;
    margin: 15px;
    border-radius: 23px;
  }

  #list li .link:active {
    transform: scale(0.95);
  }

  #list li .active span {
    position: relative;
    top: 0px;
    padding-bottom: 2px;
  }

  #list li .active span::after {
    content: "";
    content: "";
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -1px;
    border: 1px solid
      color-mix(in srgb, var(--theme-color) 80%, var(--opposite-theme-mode));
  }

  .menu {
    display: inline-block;
    position: relative;
  }
}

@keyframes scrolllist {
  from {
    top: -160px;
  }

  to {
    top: 45px;
  }
}

.active {
  text-decoration: underline;
}

#togglemenu,
#togglesearch {
  display: none;
}

.navbar .profilelink {
  height: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .profilelink.active {
  outline: 2px solid
    color-mix(in srgb, var(--theme-color) 50%, var(--theme-mode));
}

.navbar .profile {
  display: inline-grid;
  place-items: center;
  background-color: var(--opposite-theme-mode);
  color: var(--theme-mode);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 1.2rem;
  animation: fadein 0.6s ease forwards;
}

.navbar .profile img {
  display: inline-block;
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
