.profilecontainer {
  line-height: 2rem;
  text-align: center;
}

.profilecontainer .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: min(30%, 150px);
  margin: 15px auto;
  grid-column: span 2;
  cursor: pointer;
  border-radius: 45px;
  position: relative;
  grid-column: 1 / span 5;
}

.profile .profileicon {
  font-size: 50px;
}

.profile .profileimg {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  object-fit: cover;
}

.logout {
  display: block;
  height: 40px;
  border-radius: 23px;
  font-weight: bold;
  color: white;
  border: none;
  width: max(30%, 100px);
  margin: 40px auto 0px auto;
  background-color: var(--error);
}

.profilecontainer.redirect-page .container {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background20);
  box-shadow: 1px 1px 5px 0px var(--background20);
  padding: 4%;
  border-radius: 23px;
}

.profilecontainer.redirect-page .container .login-buttons {
  display: flex;
  justify-content: space-between;
}

.profilecontainer.redirect-page .btn-signin,
.profilecontainer.redirect-page .btn-signup {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.profilecontainer.redirect-page .btn-signin {
  background-color: var(--backgrounHover);
}

.profilecontainer.redirect-page .btn-signup {
  background-color: var(--background10);
}
