.account #signup {
  padding: 10px 30px;
  height: 450px;
  transition: all ease-in;
  animation: scaleup 0.3s ease-in forwards;
}

@keyframes scaleup {
  0% {
    height: 300px;
  }
  100% {
    height: 450px;
  }
}

.account #signup #profile {
  display: none;
}

.account #signup .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 30%;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px 1px whitesmoke;
  grid-column: span 2;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.account #signup .profile .profileicon {
  font-size: 50px;
}
.account #signup .profile .profileimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.account #signup .profile .edit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: red;
  padding: 8px;
  border-radius: 50%;
  font-size: 1rem;
  overflow: visible;
}

.account #signup .firstlastname {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.account #signup .firstlastname input {
  width: 48%;
}

.account #signup .btn-send-email {
  border: none;
  background-color: var(--backgroundHover);
  padding: 5px;
  border-radius: 5px;
  color: var(--text-color);
  margin: 5px;
}

.btn-spinner {
  width: 12px;
  height: 12px;
  margin: 0px 18px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--text-color); /* Change color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.account #signup .dob {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 1fr;
  grid-gap: 8px;
}

.account #signup .dob select {
  padding: 0px !important;
}

.account #signup .dob select::-webkit-scrollbar {
  width: 6px;
}

.account #signup .dob select::-webkit-scrollbar-thumb {
  background-color: rgba(58, 124, 201, 0.349);
  border-radius: 6px;
  transition: all 0.9s ease-in-out;
}

.account #signup .dob select::-webkit-scrollbar-thumb:hover {
  background-color: rgba(58, 124, 201, 0.836);
  border-radius: 6px;
}

.account #signup .dob select::-webkit-scrollbar-button {
  display: inline;
}

.account #signup .dob select option {
  color: #245d93;
  background-color: initial;
  backdrop-filter: b1ur(2px);
  border-bottom: 1px solid white;
}

.account #signup .dov select option:first-child {
  border-top-left-radius: 5px;
}
