:root {
  --first: #f8e559;
  --second: hsl(273, 100%, 76%);
  --third: hsl(273, 100%, 70%);
  --fourth: hsl(264, 96%, 63%);
  --fifth: hsl(264, 62%, 52%);
  --sixth: hsl(263, 70%, 42%);
  --error: #ff4040;
  --blackshadow: #000;

  --opposite-theme-mode: white;
  --theme-color: aqua;
  --theme-mode: black;
  --text-color: color-mix(
    in srgb,
    var(--theme-color) 23%,
    var(--opposite-theme-mode)
  );
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--text-color);
  background-color: color-mix(
    in srgb,
    var(--theme-color) 10%,
    var(--theme-mode)
  );
  background-position-x: left !important;
  background-position-y: bottom !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

@media screen and (min-width: 600px) {
  .goback {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .home {
    grid-template-columns: 1fr;
  }
  .closedchat {
    display: none !important;
  }
  .chatwindow,
  mainpage {
    animation: scalein 0.3s ease-in forwards;
  }

  @keyframes scalein {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
  .searchpeople .searchandreqitems .searchandreqitem {
    grid-template-columns: 8fr 20fr 3fr;
  }
}

@media screen and (max-width: 430px) {
  .account .form {
    font-size: 0.9rem;
    grid-gap: 5px;
    grid-row-gap: 10px;
  }
  .account .form > * {
    display: flex;
    align-items: center;
  }
  .account .form .password {
    width: 80%;
  }

  .account .form .errortext {
    bottom: -16px;
  }
  .account #signup {
    padding: 20px;
  }

  .profilepage .profileform {
    grid-template-columns: repeat(7, 1fr);
  }
  .profilepage .profileform .profile,
  .profilepage .profileform .firstlastname {
    grid-column: 1 / span 7;
  }
  .profilepage .profileform .inputtitle {
    grid-column: 1 / span 2;
  }
  .profilepage .profileform .withicon {
    grid-column: 3 / span 5;
  }
}
