.sidebarlist {
  background-color: color-mix(
    in srgb,
    var(--opposite-theme-mode) 5%,
    var(--theme-mode)
  );
  overflow-y: scroll;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.sidebarlist::-webkit-scrollbar {
  width: 0px;
}

.sidebarlist .sideprofile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 0px;
  animation: pulldown 1s ease forwards;
}

@keyframes pulldown {
  0% {
    --height: calc(25% + 5% + 5px + 10%);
    transform: translateX(var(-var(--height)));
  }
  100% {
    --height: calc(25% + 5% + 5px + 10%);
    transform: translateX(var(-var(--height)));
  }
}

.sidebarlist .profilewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  aspect-ratio: 1/1;
  font-size: 3rem;
  margin: 5%;
  background-color: var(--opposite-theme-mode);
  color: color-mix(in srgb, var(--theme-color) 25%, var(--theme-mode));
}

.sidebarlist .sideprofile .profile {
  border-radius: 50%;
  width: 25%;
  margin: 5%;
  border: 5px dashed
    color-mix(in srgb, var(--theme-color) 50%, var(--theme-mode));
  border-style: groove;
}

.sidebarlist .nochats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  padding: 20px;
  opacity: 0.5;
  line-height: 2rem;
}

.sidebarlist .nochats .nochatsicon {
  font-size: 4rem;
}

.sidebarlist .chats {
  font-size: 1.5rem;
  display: flex;
  padding: 15px 10px;
  position: relative;
  z-index: 1;
}

.sidebarlist .chats .chatstext {
  margin-right: auto;
}

.sidebarlist .chats:nth-child(3) {
  color: yellow;
  border: 2px solid red;
}

.sidebarlist .chats .groupaddicon {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.sidebarlist .chats .groupaddicon .pluscirclefill {
  background-color: black;
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  bottom: 4px;
  right: -4px;
}

.sidebarlist .chats .addperson {
  position: relative;
}

.sidebarlist .chats .addperson .reddot {
  display: inline-block;
  width: 7px;
  background-color: red;
  position: absolute;
  right: 2px;
  top: 1px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidebarlist .chats .addpersonicon {
  font-size: 1.6rem;
  cursor: pointer;
}

.sidebarlist .chats .addpersonicon:hover {
  color: var(--backgroundHover);
}

.sidebarlist .listItem {
  display: grid;
  grid-template-columns: 60px calc(100% - 80px);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in;
}

.sidebarlist .listItem:hover {
  background-color: var(--backgroundHover);
}

.sidebarlist .listItem .profileimgbox {
  position: relative;
}

.sidebarlist .listItem .profileimgbox .dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidebarlist .listItem .profileimgbox .dot.online {
  background-color: rgb(0, 255, 0);
}

.sidebarlist .listItem .profileimgbox .dot.offline {
  display: none;
  background-color: red;
}

.sidebarlist .listItem .listItemtext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebarlist .listItem .listItemtext .usernamewithdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarlist .listItem .personfillicon {
  font-size: 2rem;
  color: black;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.sidebarlist .listItem .lastmessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarlist .listItem.openeditem {
  background-color: color-mix(
    in srgb,
    var(--theme-color) 15%,
    var(--theme-mode)
  );
}
