/* html[data-theme="dark"]{
  --em-rgb-background:
} */
:root {
  --em-rgb-background: #fff !important;
}

#shadow-root {
  border: 10px solid red;
}

.chatwindow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px calc(100vh - 45px - 110px) 50px;
  grid-template-rows: 60px calc(100dvh - 45px - 110px) 50px;
  transition: all;
  animation: fade 0.3s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.chatwindow .profilebar {
  display: grid;
  grid-template-columns: 25px 50px auto 100px;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: color-mix(in srgb, var(--transparent-black) 80%, white);
  overflow: hidden;
}

.chatwindow .profilebar .arrowlefticon {
  font-size: 32px;
  margin-top: 6px;
}

.chatwindow .profilebar .outerimg {
  height: 55.5px;
  aspect-ratio: 1/1;
  margin-left: 5px;
}

.chatwindow .profilebar .chatprofileimg {
  display: block;
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.chatwindow .profilebar .outerimg .personfillicon {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.chatwindow .profilebar .profilebarusername {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.chatwindow .profilebar .callicons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 15px);
  background-color: white;
  border-radius: 14px;
  gap: 5px;
}

.chatwindow .profilebar .callicons .icon {
  font-size: 1.3rem;
}

.chatwindow .messagefield {
  background-color: color-mix(in srgb, var(--transparent-black) 80%, white);
  grid-gap: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 22px 4fr 1fr;
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.chatwindow .messagefield .emojipicker {
  position: absolute;
  top: -27.4rem;
  left: 5px;
  animation: fade 0.5s ease-in forwards;
}

.chatwindow .messagefield .emojipicker em-emoji-picker {
  --background-rgb: 85, 170, 255;
  --border-radius: 24px;
  --category-icon-size: 24px;
  --color-border-over: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.05);

  --first: #f8e559;
  --second: 200, 133, 255;
  --third: hsl(273, 100%, 70%);
  --fourth: hsl(264, 96%, 63%);
  --fifth: hsl(264, 62%, 52%);
  --sixth: 90, 32, 182;
  --error: #ff4040;
  --blackshadow: #000;
  --emoji-background: 255, 255, 255;

  /* var(--first) rgb value */
  --rgb-accent: 248, 229, 89;
  /* var(--emoji-background) rgb value*/
  --rgb-background: 255, 255, 255;

  --shadow: 5px 5px 15px -8px black;
}

.messagefield .emojipicker button {
  background-color: transparent;
}

.chatwindow .messagefield .emoji {
  font-size: 23px;
  margin: auto;
}

.chatwindow .messagefield input,
.chatwindow .messagefield button {
  border-radius: 15px;
  border: 0px;
  background-color: color-mix(in srgb, var(--transparent-black) 80%, white);
  box-shadow: inset 0px 0px 2px 0px var(--blackshadow);
  display: flex;
  align-items: center;
}

.chatwindow .messagefield input {
  color: white;
  padding: 0px 10px;
}

.chatwindow .messagefield button {
  justify-content: center;
  /* background-color: color-mix(in srgb, var(--first) 80%, white); */
  background-color: var(--first);
}

.chatwindow .messagefield input:focus {
  outline: 0px;
}

.chatwindow .chatcontainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chatwindow .chatcontainer .nochats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  height: 100%;
  opacity: 0.5;
}

.chatwindow .chatcontainer::-webkit-scrollbar {
  width: 0px;
}

.chatwindow .chatcontainer .chat {
  display: block;
  width: 100%;
}

.chatwindow .chatcontainer .sendchat {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 70%;
  background-color: color-mix(in srgb, var(--second) 30%, white);
  float: right;
  padding: 7px;
  margin: 15px;
  position: relative;
  border-radius: 10px;
  transition: all;
  opacity: 0;
  animation: sendchat 0.2s ease-in 0.2s forwards;
}

@keyframes sendchat {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.chatwindow .chatcontainer .sendchat::after {
  content: "";
  border-bottom: 14px solid color-mix(in srgb, var(--second) 30%, white);
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  position: absolute;
  right: -7px;
  bottom: 0px;
}

.chatwindow .chat .chattext {
  overflow-wrap: anywhere;
}

.chatwindow .chat .timecheck {
  font-size: 0.6rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: end;
  float: right;
  margin-left: 5px;
}

.check {
  font-size: 0.9rem;
  position: relative;
  top: 4px;
}

.readcheck {
  color: skyblue;
}

.chatwindow .chatcontainer {
  background: url("https://static.whatsapp.net/rsrc.php/v3/yl/r/gi_DckOUM5a.png");
}

.chatwindow .chatcontainer .receivedchat {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: end;
  max-width: 70%;
  float: left;
  padding: 7px;
  margin: 15px;
  position: relative;
  border-radius: 10px;
  transition: all;
  opacity: 0;
  animation: receivechat 0.5s ease-in 0.3s forwards;
}

@keyframes receivechat {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.chatwindow .chatcontainer .receivedchat::after {
  content: "";
  border-bottom: 14px solid white;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  position: absolute;
  left: -7px;
  bottom: 0px;
}

.chatwindow .chatcontainer .date {
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 120px;
  padding: 2px;
  margin: 20px auto;
  text-align: center;
  display: inline;
}
