.settings {
  position: relative;
  z-index: 1;
}

.settings:nth-child(2) {
  animation: fade 0.3s ease-in forwards;
}

.mainpage {
  height: calc(100vh - 45px);
  height: calc(100dvh - 45px);
  background-color: color-mix(in srgb, grey 5%, var(--theme-mode));
  margin: 0px 15%;
}

.settings-heading {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 5px;
}

.ai-settings-page .setting-item {
  display: flex;
  justify-content: space-between;
  align-items: centers;
  margin: 10px 0px;
}

.ai-settings-page {
  padding: 2%;
  box-sizing: border-box;
}

.ai-settings-page .settings-heading {
  padding: 0px;
  margin-bottom: 20px;
}

.ai-settings-page .Dropdown-control {
  background-color: var(--background15);
  border: none;
  color: var(--text-color);
}
.ai-settings-page .Dropdown-menu {
  background-color: var(--background20);
  border: none;
  color: var(--text-color);
}

.ai-settings-page .Dropdown-menu .Dropdown-option {
  color: var(--text-color);
}
.ai-settings-page .Dropdown-menu .Dropdown-option:hover {
  background-color: var(--background30);
}
.ai-settings-page .Dropdown-menu .Dropdown-option.is-selected {
  color: var(--text-color);
  background-color: var(--backgroundHover);
}

.ai-settings-page .setting-item .yes-no-switch {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  border-radius: 10px;
}

.ai-settings-page .setting-item .yes-no-switch .text {
  z-index: 1;
  cursor: pointer;
}

.ai-settings-page .setting-item .yes-no-switch .animate-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.ai-settings-page .setting-item .yes-no-switch .animate-container div {
  width: 50%;
  height: 100%;
  background-color: var(--backgroundHover);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .mainpage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    z-index: 2;
  }
}
